#carouselBackground {
    background-color: rgb(105, 192, 218);
}

.page-footer {
    background-color: #0B132B ;
    color: aliceblue;
}

.card-body h5{
    color: #0B132B;
}

.card-text{
    color: black;
}

.linkPage {
color: beige;
}

.btn-align-right {
    text-align: left;
}

#contactUs {
    color: rgb(73, 73, 73);
}

h1 {
    font-family: 'REM', sans-serif;
    color: #fffffffa;

}

nav {
    background: #0e213f;
    font-family: 'Kanit', sans-serif;
}
a.navbar-brand {
    color: #7DC95E;
}
li.nav-item a.nav-link {
    color: #7DC95E;
}

li.nav-item.active a.nav-link {
    color: #0CF574;
}

button.navbar-toggler {
    background-color: #7DC95E;
    border
}


.link-unstyled {
    color: aliceblue;
}

.link-unstyled-contact {
    color: #0B132B;
}

.page-background {
    background-image: linear-gradient(#0B132B, #0B132B,#7DC95E,#0B132B,#0B132B ) ;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-bottom: 1px solid #8499B1;
}

button.btn.btn-dark {
    background: #7DC95E;
    color: #ffffff;
    border: #7DC95E;
}

.carousel .carousel-indicators li {
    background-color: #0B132B;
}

.carousel .carousel-indicators li.active {
    background-color: #0CF574;
}

.carousel-control-prev-icon {
    background-image: #0e213f;
}

.carousel-caption h2 {
    font-family: 'Handjet', cursive;
}

.carousel-caption h5 {
    font-family: 'Handjet', cursive;
}

.lead {
    color: #fffffffa;
}

.card {
    background-color: #8499B1;
    border: #0B132B;
}

.card-img-top {
    background-color: #8499B1;
    border-color: #8499B1;
}


.card-header {
    background-color: #0B132B;
    color: #fffffffa;
}

.card-body {
    background-color: #8499B1;
}

.btn-card{
    background-color: #0B132B;
    border: #0B132B;
    color: #fffffffa;
}

.subtitle {
    color: #fffffffa;
    font-size: larger;
}

.tiers{
    color: #fffffffa;
}

.img-thumbnail {
    background-color: #0B132B;
    border: #0B132B;
}

.modal-header {
    background-color: #0B132B;
    border: #0B132B;
    color: #fffffffa;
}

.modal-body {
    background-color: #8499B1;
    border: #8499B1;
}

.modal-footer {
    background-color: #8499B1;
    border: #8499B1;
}

